<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <h3>Контакты.</h3>
    <form action="" method="post">
        <p>
            <label for="mail">Ваш e-mail</label><br>
            <input name="mail" id="mail" type="email"><br>
            <label for="theme">Тема сообщения</label><br>
            <input name="theme" id="theme" type="text"><br>
            <label for="message">Текст сообщения</label><br>
            <textarea style="height: 97px; width: 200px" name="message" id="message"></textarea><br>
        </p>
        <p>
            <input type="submit" value="Отправить">
        </p>
    </form>
</body>
</html>